body{
    background-color: #ecd6d8;
    color: rgb(184, 143, 165);
}

.atvidades img{
    height: 300px;
    width: 200px;
}

.atividades {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 40px;
}

.card {
    background-color: white;
    border: 1px solid #d8c1cb;
    border-radius: 10px;
    padding: 10px;

    width: 174px;
    height: 246px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
}

.card img {
    width: 150px;
    height: 220px;
    object-fit: contain;
    display: block;
}

.card:hover {
    transform: translateY(-5px);
}    

.titulo-portfolio{
    width: fit-content;
    margin: 20px auto;
    padding: 15px 30px;
    background-color: #f7eef1;
    border: 2px solid #c99ab0;
    border-radius: 25px;
    color: #b88ca1;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.voltar {

position: fixed;

top: 25px;
left: 25px;

text-decoration: none;

color: #662740;

font-family: 'Oswald', sans-serif;

font-size: 13px;

letter-spacing: 2px;

padding: 10px 16px;

border: 1px solid rgba(102, 39, 64, 0.35);

border-radius: 20px;

background: rgba(255, 255, 255, 0.45);

transition: 0.3s;

z-index: 10;


}

.voltar:hover {


background: #662740;

color: white;


}

        .secao-area-titulo {
            background: #963D5A;
            color: #FFFFFF;
            padding: 12px 25px;
            margin: 40px 0 20px 0;
            font-family: 'Oswald', sans-serif;
            font-size: 28px;
            letter-spacing: 2px;
            border-radius: 10px;
            text-align: center;
        }
@media (max-width: 768px) {
    body {
        padding: 10px;
    }
    .container, main {
        width: 100% !important;
    }
}